---
http_interactions:
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/characters/1009496/events?apikey=<PUBLIC_KEY>&hash=f8366b9e8b1ae6c7ed29d87062efffef&ts=1391894400
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 79ef3436d0dc139b17693635b99776556e29f495
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\"code\":200,\"status\":\"Ok\",\"etag\":\"79ef3436d0dc139b17693635b99776556e29f495\",\"data\":{\"offset\":0,\"limit\":20,\"total\":0,\"count\":0,\"results\":[]}}"
  recorded_at: Sat, 08 Feb 2014 21:20:00 GMT
recorded_with: VCR 2.8.0
