---
http_interactions:
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/characters/1009496?apikey=<PUBLIC_KEY>&hash=f8366b9e8b1ae6c7ed29d87062efffef&ts=1391894400
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 43cfb8b8d6ffd293d014a1f773d7a0661386e867
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\"code\":200,\"status\":\"Ok\",\"etag\":\"43cfb8b8d6ffd293d014a1f773d7a0661386e867\",\"data\":{\"offset\":0,\"limit\":20,\"total\":1,\"count\":1,\"results\":[{\"id\":1009496,\"name\":\"Phoenix\",\"description\":\"\",\"modified\":\"1969-12-31T19:00:00-0500\",\"thumbnail\":{\"path\":\"http://i.annihil.us/u/prod/marvel/i/mg/f/30/4bc654cf9d0ac\",\"extension\":\"jpg\"},\"resourceURI\":\"http://gateway.marvel.com/v1/public/characters/1009496\",\"comics\":{\"available\":46,\"collectionURI\":\"http://gateway.marvel.com/v1/public/characters/1009496/comics\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/comics/6965\",\"name\":\"Avengers
        (1963) #110\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/comics/39445\",\"name\":\"Essential
        X-Factor Vol. 2 (All-New Edition) (Trade Paperback)\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/comics/30239\",\"name\":\"Girl
        Comics (2010) #2\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/comics/37202\",\"name\":\"Marvel
        Girl (2010) #1\"},{\"re[...]
