---
http_interactions:
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/stories/15820?apikey=<PUBLIC_KEY>&hash=f8366b9e8b1ae6c7ed29d87062efffef&ts=1391894400
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - fed251e3fdad05e01d18db456c8d4bad7b8cad97
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\"code\":200,\"status\":\"Ok\",\"etag\":\"fed251e3fdad05e01d18db456c8d4bad7b8cad97\",\"data\":{\"offset\":0,\"limit\":20,\"total\":1,\"count\":1,\"results\":[{\"id\":15820,\"title\":\"Cover
        #15820\",\"description\":\"\",\"resourceURI\":\"http://gateway.marvel.com/v1/public/stories/15820\",\"type\":\"cover\",\"modified\":\"1969-12-31T19:00:00-0500\",\"thumbnail\":null,\"creators\":{\"available\":4,\"collectionURI\":\"http://gateway.marvel.com/v1/public/stories/15820/creators\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/1778\",\"name\":\"Dan
        Crespi\",\"role\":\"letterer\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/1519\",\"name\":\"Frank
        Giacoia\",\"role\":\"inker\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/1178\",\"name\":\"Archie
        Goodwin\",\"role\":\"editor\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/1219\",\"name\":\"Ron
        Wilson\",\"role\":\"penciller (cover)\"}],\"returned\":4},\"characters\":{\"available\":1,\"collectionURI\":\"http://gateway.marvel.com/v1/public/stories/15820/characters\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/characters/1009262\",\"name\":\"Daredevil\"}],\"returned\":1},\"series\":{\"available\":1,\"collectionURI\":{\"service\":\"comic_storySeries\",\"id\":15820},\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/series/2002\",\"name\":\"Daredevil
        (1963 - 1998)\"}],\"returned\":1},\"comics\":{\"available\":1,\"collectionURI\":\"http://gateway.marvel.com/v1/public/stories/15820/comics\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/comics/8128\",\"name\":\"Daredevil
        (1963) #149\"}],\"returned\":1},\"events\":{\"available\":0,\"collectionURI\":\"http://gateway.marvel.com/v1/public/stories/15820/events\",\"items\":[],\"returned\":0},\"originalIssue\":{\"resourceURI\":\"http://gateway.marvel.com/v1/public/comics/8128\",\"name\":\"Daredevil
        (1963) #149\"}}]}}"
  recorded_at: Sat, 08 Feb 2014 21:20:00 GMT
recorded_with: VCR 2.8.0
