---
http_interactions:
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/comics/10588?apikey=<PUBLIC_KEY>&hash=a304d29c7e65217654f6ddd18daf2b3c&ts=1392317244
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 3795cf984fb844e9c3a0f5f1143ad532479b3e70
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\"code\":200,\"status\":\"Ok\",\"etag\":\"3795cf984fb844e9c3a0f5f1143ad532479b3e70\",\"data\":{\"offset\":0,\"limit\":20,\"total\":1,\"count\":1,\"results\":[{\"id\":10588,\"digitalId\":3445,\"title\":\"Secret
        Wars (1984) #6\",\"issueNumber\":6,\"variantDescription\":\"\",\"description\":\"A
        LITTLE DEATH Galactus prepares to destroy both the heroes and the villians!
        Now, as both sides of the engagement plan their next move, two MIA soldiers
        make their return!\\n\",\"modified\":\"2011-07-28T10:38:21-0400\",\"isbn\":\"\",\"upc\":\"\",\"diamondCode\":\"\",\"ean\":\"\",\"issn\":\"\",\"format\":\"Comic\",\"pageCount\":36,\"textObjects\":[{\"type\":\"issue_preview_text\",\"language\":\"en-us\",\"text\":\"A
        LITTLE DEATH Galactus prepares to destroy both the heroes and the villians!
        Now, as both sides of the engagement plan their next move, two MIA soldiers
        make their return!\\n\"}],\"resourceURI\":\"http://gateway.marvel.com/v1/public/comics/10588\",\"urls\":[{\"type\":\"detail\",\"url\":\"http://marvel.com/comics/issue/10588/secret_wars_1984_6?utm_campaign=apiRef&utm_source=<PUBLIC_KEY>\"},{\"type\":\"purchase\",\"url\":\"http://comicstore.marvel.com/Secret-Wars-6/digital-comic/3445?utm_campaign=apiRef&utm_source=<PUBLIC_KEY>\"},{\"type\":\"reader\",\"url\":\"http://marvel.com/digitalcomics/view.htm?iid=3445&utm_campaign=apiRef&utm_source=<PUBLIC_KEY>\"},{\"type\":\"inAppLink\",\"url\":\"http://applink.marvel.com/issue/3445?utm_campaign=apiRef&utm_source=<PUBLIC_KEY>\"}],\"series\":{\"resourceURI\":\"http://gateway.marvel.com/v1/public/series/2063\",\"name\":\"Secret
        Wars (1984 - 1985)\"},\"variants\":[],\"collections\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/comics/2270\",\"name\":\"Secret
        Wars (Trade Paperback)\"}],\"collectedIssues\":[],\"dates\":[{\"type\":\"onsaleDate\",\"date\":\"1984-10-10T00:00:00-0400\"},{\"type\":\"focDate\",\"date\":\"-0001-11-30T00:00:00-0500\"},{\"type\":\"unlimitedDate\",\"date\":\"2007-11-28T00:00:00-0500\"},{\"type\":\"digitalPurchaseDate\",\"date\":\"2011-08-31T00:00:00-0400\"}],\"prices\":[{\"type\":\"printPrice\",\"price\":0},{\"type\":\"digitalPurchasePrice\",\"price\":1.99}],\"thumbnail\":{\"path\":\"http://i.annihil.us/u/prod/marvel/i/mg/a/b0/4f68c9758c6cf\",\"extension\":\"jpg\"},\"images\":[{\"path\":\"http://i.annihil.us/u/prod/marvel/i/mg/a/b0/4f68c9758c6cf\",\"extension\":\"jpg\"}],\"creators\":{\"available\":6,\"collectionURI\":\"http://gateway.marvel.com/v1/public/comics/10588/creators\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/2038\",\"name\":\"John
        Beatty\",\"role\":\"inker\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/9565\",\"name\":\"Tom
        DeFalco\",\"role\":\"editor\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/1759\",\"name\":\"Joe
        Rosen\",\"role\":\"letterer\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/6758\",\"name\":\"Christie
        Scheele\",\"role\":\"colorist\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/946\",\"name\":\"Jim
        Shooter\",\"role\":\"writer\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/3447\",\"name\":\"Michael
        Zeck\",\"role\":\"penciller\"}],\"returned\":6},\"characters\":{\"available\":28,\"collectionURI\":\"http://gateway.marvel.com/v1/public/comics/10588/characters\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/characters/1009148\",\"name\":\"Absorbing
        Man\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/characters/1009220\",\"name\":\"Captain
        America\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/characters/1009224\",\"name\":\"Captain
        Marvel (Mar-Vell)\"},{\"resourceURI\":\"http://gateway.marve[...]
