---
http_interactions:
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/series?apikey=<PUBLIC_KEY>&hash=a304d29c7e65217654f6ddd18daf2b3c&title=Uncanny%20X-Men&ts=1392317244
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 752af0f0f25650e80f70bf204bdb27b3ffa0a473
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\"code\":200,\"status\":\"Ok\",\"etag\":\"752af0f0f25650e80f70bf204bdb27b3ffa0a473\",\"data\":{\"offset\":0,\"limit\":20,\"total\":3,\"count\":3,\"results\":[{\"id\":17602,\"title\":\"Uncanny
        X-Men (2013 - Present)\",\"description\":null,\"resourceURI\":\"http://gateway.marvel.com/v1/public/series/17602\",\"urls\":[{\"type\":\"detail\",\"url\":\"http://marvel.com/comics/series/17602/uncanny_x-men_2013_-_present?utm_campaign=apiRef&utm_source=<PUBLIC_KEY>\"}],\"startYear\":2013,\"endYear\":2099,\"rating\":\"Rated
        T+\",\"type\":\"ongoing\",\"modified\":\"2014-02-06T12:04:33-0500\",\"thumbnail\":{\"path\":\"http://i.annihil.us/u/prod/marvel/i/mg/b/70/511abc9036abd\",\"extension\":\"jpg\"},\"creators\":{\"available\":17,\"collectionURI\":\"http://gateway.marvel.com/v1/public/series/17602/creators\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/12208\",\"name\":\"Arthur
        Adams\",\"role\":\"penciller (cover)\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/314\",\"name\":\"Neal
        Adams\",\"role\":\"penciller (cover)\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/1063\",\"name\":\"Frazer
        Irving\",\"role\":\"penciller (cover)\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/9146\",\"name\":\"Milo
        Manara\",\"role\":\"penciller (cover)\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/5160\[...]
