---
http_interactions:
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/creators/214/comics?apikey=<PUBLIC_KEY>&dateRange=1980-01-01,1989-12-31&hash=76ea33f152cc264d192e39c2648392e7&ts=1392317244
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - a8a5eb0a26e40af7cbc369640711f5c82c916c8a
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\"code\":200,\"status\":\"Ok\",\"etag\":\"a8a5eb0a26e40af7cbc369640711f5c82c916c8a\",\"data\":{\"offset\":0,\"limit\":20,\"total\":159,\"count\":20,\"results\":[{\"id\":8268,\"digitalId\":0,\"title\":\"Daredevil
        (1963) #275\",\"issueNumber\":275,\"variantDescription\":\"\",\"description\":null,\"modified\":\"1969-12-31T19:00:00-0500\",\"isbn\":\"\",\"upc\":\"\",\"diamondCode\":\"\",\"ean\":\"\",\"issn\":\"\",\"format\":\"Comic\",\"pageCount\":36,\"textObjects\":[],\"resourceURI\":\"http://gateway.marvel.com/v1/public/comics/8268\",\"urls\":[{\"type\":\"detail\",\"url\":\"http://marvel.com/comics/issue/8268/daredevil_1963_275?utm_campaign=apiRef&utm_source=<PUBLIC_KEY>\"}],\"series\":{\"resourceURI\":\"http://gateway.marvel.com/v1/public/series/2002\",\"name\":\"Daredevil
        (1963 - 1998)\"},\"variants\":[],\"collections\":[],\"collectedIssues\":[],\"dates\":[{\"type\":\"onsaleDate\",\"date\":\"1989-12-20T00:00:00-0500\"},{\"type\":\"focDate\",\"date\":\"1969-12-31T19:00:00-0500\"}],\"prices\":[{\"type\":\"printPrice\",\"price\":1}],\"thumbnail\":{\"path\":\"http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available\",\"extension\":\"jpg\"},\"images\":[{\"path\":\"http://i.annihil.us/u/prod/marvel/i/mg/2/e0/5125010ed3f94\",\"extension\":\"jpg\"}],\"creators\":{\"available\":6,\"collectionURI\":\"http://gateway.marvel.com/v1/public/comics/8268/creators\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/1282\",\"name\":\"Ralph
        Macchio\",\"role\":\"editor\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/215\",\"name\":\"Ann
        Nocenti\",\"role\":\"writer\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/214\",\"name\":\"John
        Romita JR.\",\"role\":\"penciller (cover)\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/1759\",\"name\":\"Joe
        Rosen\",\"role\":\"letterer\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/1899\",\"name\":\"Max
        Scheele\",\"role\":\"colorist\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/397\",\"name\":\"Al
        Williamson\",\"role\":\"inker\"}],\"returned\":6},\"characters\":{\"available\":4,\"collectionURI\":\"http://gateway.marvel.com/v1/public/comics/8268/characters\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/characters/1009262\",\"name\":\"Daredevil\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/characters/1009324\",\"name\":\"Gorgon\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/characters/1009385\",\"name\":\"Karnak\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/characters/1009685\",\"name\":\"Ultron\"}],\"returned\":4},\"stories\":{\"available\":2,\"collectionURI\":\"http://gateway.marvel.com/v1/public/comics/8268/stories\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/stories/16111\",\"name\":\"Cover
        #16111\",\"type\":\"cover\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/stories/16112\",\"name\":\"False
        Man\",\"type\":\"interiorStory\"}],\"returned\":2},\"events\":{\"available\":1,\"collectionURI\":\"http://gateway.marvel.com/v1/public/comics/8268/events\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/events/116\",\"name\":\"Acts
        of Vengeance!\"}],\"returned\":1}},{\"id\":8267,\"digitalId\":0,\"title\":\"Daredevil
        (1963) #274\",\"issueNumber\":274,\"variantDescription\":\"\",\"description\":null,\"modified\":\"1969-12-31T19:00:00-0500\",\"isbn\":\"\",\"upc\":\"\",\"diamondCode\":\"\",\"ean\":\"\",\"issn\":\"\",\"format\[...]
