---
http_interactions:
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/creators/9438?apikey=<PUBLIC_KEY>&hash=f8366b9e8b1ae6c7ed29d87062efffef&ts=1391894400
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 616370305ece5a95cb8c6e7bcb8ff09057e5b4ac
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\"code\":200,\"status\":\"Ok\",\"etag\":\"616370305ece5a95cb8c6e7bcb8ff09057e5b4ac\",\"data\":{\"offset\":0,\"limit\":20,\"total\":1,\"count\":1,\"results\":[{\"id\":9438,\"firstName\":\"Sergio\",\"middleName\":\"\",\"lastName\":\"Aragones\",\"suffix\":\"\",\"fullName\":\"Sergio
        Aragones\",\"modified\":\"2007-01-02T00:00:00-0500\",\"thumbnail\":{\"path\":\"http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available\",\"extension\":\"jpg\"},\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/9438\",\"comics\":{\"available\":0,\"collectionURI\":\"http://gateway.marvel.com/v1/public/creators/9438/comics\",\"items\":[],\"returned\":0},\"series\":{\"available\":0,\"collectionURI\":\"http://gateway.marvel.com/v1/public/creators/9438/series\",\"items\":[],\"returned\":0},\"stories\":{\"available\":0,\"collectionURI\":\"http://gateway.marvel.com/v1/public/creators/9438/stories\",\"items\":[],\"returned\":0},\"events\":{\"available\":0,\"collectionURI\":\"http://gateway.marvel.com/v1/public/creators/9438/events\",\"items\":[],\"returned\":0},\"urls\":[{\"type\":\"detail\",\"url\":\"http://marvel.com/comics/creators/9438/sergio_aragones?utm_campaign=apiRef&utm_source=<PUBLIC_KEY>\"}]}]}}"
  recorded_at: Sat, 08 Feb 2014 21:20:00 GMT
recorded_with: VCR 2.8.0
