---
http_interactions:
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/creators?apikey=<PUBLIC_KEY>&hash=f8366b9e8b1ae6c7ed29d87062efffef&offset=600&ts=1391894400
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 647b9f7c00603e25d7432bf7d0a4dd246435ef75
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\"code\":200,\"status\":\"Ok\",\"etag\":\"647b9f7c00603e25d7432bf7d0a4dd246435ef75\",\"data\":{\"offset\":600,\"limit\":20,\"total\":5558,\"count\":20,\"results\":[{\"id\":10137,\"firstName\":\"Michele\",\"middleName\":\"\",\"lastName\":\"Bertilorenzi\",\"suffix\":\"\",\"fullName\":\"Michele
        Bertilorenzi\",\"modified\":\"2013-01-28T16:38:23-0500\",\"thumbnail\":{\"path\":\"http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available\",\"extension\":\"jpg\"},\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/10137\",\"comics\":{\"available\":5,\"collectionURI\":\"http://gateway.marvel.com/v1/public/creators/10137/comics\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/comics/36473\",\"name\":\"Daken:
        Dark Wolverine (2010) #14\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/comics/36474\",\"name\":\"Daken:
        Dark Wolverine (2010) #15\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/comics/36472\",\"name\":\"Daken:
        Dark Wolverine (2010) #18\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/comics/40525\",\"name\":\"Daken:
        Dark Wolverine (2010) #19\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/comics/34286\",\"name\":\"Daredevil:
        Black and White (2010) #1\"}],\"returned\":5},\"series\":{\"available\":2,\"collectionURI\":\"http://gateway.marvel.com/v1/public/creators/10137/series\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/series/9368\",\"name\":\"Daken:
        Dark Wolverine (2010 - 2012)\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/series/11676\",\"name\":\"Daredevil:
        Black and White (2010)\"}],\"returned\":2},\"stories\":{\"available\":6,\"collectionURI\":\"http://gateway.marvel.com/v1/public/creators/10137/stories\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/stories/76454\",\"name\":\"Interior
        #76454\",\"type\":\"interiorStory\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/stories/80974\",\"name\":\"Interior
        #80974\",\"type\":\"interiorStory\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/stories/80976\",\"name\":\"Daken:
        Dark Wolverine (2010) #14 - Int\",\"type\":\"interiorStory\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/stories/80978\",\"name\":\"Interior
        #80978\",\"type\":\"interiorStory\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/stories/81770\",\"name\":\"Interior
        #81770\",\"type\":\"interiorStory\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/stories/91873\",\"name\":\"Interior
        #91873\",\"type\":\"interiorStory\"}],\"returned\":6},\"events\":{\"available\":0,\"collectionURI\":\"http://gateway.marvel.com/v1/public/creators/10137/events\",\"items\":[],\"returned\":0},\"urls\":[{\"type\":\"detail\",\"url\":\"http://marvel.com/comics/creators/10137/michele_bertilorenzi?utm_campaign=apiRef&utm_source=<PUBLIC_KEY>\"}]},{\"id\":9181,\"firstName\":\"Nicholas\",\"middleName\":\"\",\"lastName\":\"Bertozzi\",\"suffix\":\"\",\"fullName\":\"Nicholas
        Bertozzi\",\"modified\":\"2007-01-02T00:00:00-0500\",\"thumbnail\":{\"path\":\"http://i.annihil.us/u/prod/marvel/i/mg/1/20/4bb3bba51fc0b\",\"extension\":\"jpg\"},\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/9181\",\"comics\":{\"availabl[...]
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/creators/9181?apikey=<PUBLIC_KEY>&hash=f8366b9e8b1ae6c7ed29d87062efffef&ts=1391894400
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - b3764a64c3f2091006549da7435d34583c34cc6a
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\"code\":200,\"status\":\"Ok\",\"etag\":\"b3764[...]
