---
http_interactions:
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/comics/12518?apikey=<PUBLIC_KEY>&hash=f8366b9e8b1ae6c7ed29d87062efffef&ts=1391894400
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 0da42e23982d78f4d5c3818d6de6d72fac3347ce
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\"code\":200,\"status\":\"Ok\",\"etag\":\"0da42e23982d78f4d5c3818d6de6d72fac3347ce\",\"data\":{\"offset\":0,\"limit\":20,\"total\":1,\"count\":1,\"results\":[{\"id\":12518,\"digitalId\":0,\"title\":\"Uncanny
        X-Men (1963) #67\",\"issueNumber\":67,\"variantDescription\":\"\",\"description\":null,\"modified\":\"2012-03-19T19:17:31-0400\",\"isbn\":\"\",\"upc\":\"\",\"diamondCode\":\"\",\"ean\":\"\",\"issn\":\"\",\"format\":\"Comic\",\"pageCount\":0,\"textObjects\":[],\"resourceURI\":\"http://gateway.marvel.com/v1/public/comics/12518\",\"urls\":[{\"type\":\"detail\",\"url\":\"http://marvel.com/comics/issue/12518/uncanny_x-men_1963_67?utm_campaign=apiRef&utm_source=<PUBLIC_KEY>\"}],\"series\":{\"resourceURI\":\"http://gateway.marvel.com/v1/public/series/2258\",\"name\":\"Uncanny
        X-Men (1963 - 2011)\"},\"variants\":[],\"collections\":[],\"collectedIssues\":[],\"dates\":[{\"type\":\"onsaleDate\",\"date\":\"1970-12-10T00:00:00-0500\"},{\"type\":\"focDate\",\"date\":\"1969-12-31T19:00:00-0500\"}],\"prices\":[{\"type\":\"printPrice\",\"price\":0}],\"thumbnail\":{\"path\":\"http://i.annihil.us/u/prod/marvel/i/mg/a/50/4f67bce2789b7\",\"extension\":\"jpg\"},\"images\":[{\"path\":\"http://i.annihil.us/u/prod/marvel/i/mg/a/50/4f67bce2789b7\",\"extension\":\"jpg\"}],\"creators\":{\"available\":8,\"collectionURI\":\"http://gateway.marvel.com/v1/public/comics/12518/creators\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/1523\",\"name\":\"Vince
        Colletta\",\"role\":\"inker\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/1240\",\"name\":\"Joe
        Sinnott\",\"role\":\"inker\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/196\",\"name\":\"Jack
        Kirby\",\"role\":\"penciller\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/956\",\"name\":\"Werner
        Roth\",\"role\":\"penciller\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/1524\",\"name\":\"Alex
        Toth\",\"role\":\"penciller\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/30\",\"name\":\"Stan
        Lee\",\"role\":\"editor\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/1553\",\"name\":\"Sam
        Rosen\",\"role\":\"letterer\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/198\",\"name\":\"Marie
        Severin\",\"role\":\"penciller (cover)\"}],\"returned\":8},\"characters\":{\"available\":8,\"collectionURI\":\"http://gateway.marvel.com/v1/public/comics/12518/characters\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/characters/1009159\",\"name\":\"Archangel\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/characters/1009175\",\"name\":\"Beast\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/characters/1009257\",\"name\":\"Cyclops\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/characters/1009356\",\"name\":\"Human
        Torch\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/characters/1009362\",\"name\":\"Iceman\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/characters/1009382\",\"name\":\"Juggernaut\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/characters/1009496\",\"name\":\"Phoenix\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/characters/1009726\",\"name\":\"X-Men\"}],\"returned\":8},\"stories\":{\"available\":3,\"collectionURI\":{\"service\":\"comic_issueStories\",\"id\":12518},\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/stories/15615\",\"name\":\"Cover
        #15615\",\"type\":\"cover\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/stories/15616\",\"name\":\"The
        Origin of Professor X\",\"type\":\"\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/stories/15617\",\"name\":\"Where
        Walks the Juggernaut\",\"type\":\"\"}],\"returned\":3},\"events\":{\"available\":0,\"collectionURI\":\"http://gateway.marvel.com/v1/public/comics/12518/events\",\"items\":[],\"returned\":0}}]}}"
  recorded_at: Sat, 08 Feb 2014 21:20:00 GMT
recorded_with: VCR 2.8.0
