---
http_interactions:
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/events/279/series?apikey=<PUBLIC_KEY>&hash=f8366b9e8b1ae6c7ed29d87062efffef&ts=1391894400
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 89ddac8b73b3e664a5beb95228755af14833159d
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\"code\":200,\"status\":\"Ok\",\"etag\":\"89ddac8b73b3e664a5beb95228755af14833159d\",\"data\":{\"offset\":0,\"limit\":20,\"total\":13,\"count\":13,\"results\":[{\"id\":7455,\"title\":\"New
        Mutants (2009 - 2011)\",\"description\":\"The original New Mutants team of
        Cannonball, Dani Moonstar, Sunspot, Karma, Magma and Magik have reunited!
        With old friends and foes coming out of the woodwork, these friends will be
        challenged like never before!\",\"resourceURI\":\"http://gateway.marvel.com/v1/public/series/7455\",\"urls\":[{\"type\":\"detail\",\"url\":\"http://marvel.com/comics/series/7455/new_mutants_2009_-_2011?utm_campaign=apiRef&utm_source=<PUBLIC_KEY>\"}],\"startYear\":2009,\"endYear\":2011,\"rating\":\"T\",\"type\":\"ongoing\",\"modified\":\"2013-03-01T14:30:01-0500\",\"thumbnail\":{\"path\":\"http://i.annihil.us/u/prod/marvel/i/mg/2/70/513101542cfa6\",\"extension\":\"jpg\"},\"creators\":{\"available\":59,\"collectionURI\":\"http://gateway.marvel.com/v1/public/series/7455/creators\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/9716\",\"name\":\"BENJAMIN\",\"role\":\"penciller\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/249\",\"name\":\"Art
        Adams\",\"role\":\"penciller\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/10405\",\"name\":\"John
        Tyler Christopher\",\"role\":\"penciller\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/9224\",\"name\":\"Paul
        Davidson\",\"role\":\"penciller\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/8522\",\"name\":\"Gabriele[...]
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/series/9808?apikey=<PUBLIC_KEY>&hash=f8366b9e8b1ae6c7ed29d87062efffef&ts=1391894400
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 4aa3d4817b31e9fd4eb548c7ec6108ca15e44e1f
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\"code\":200,\"status\":\"Ok\",\"etag\":\"4aa3d48[...]
[...]
