---
http_interactions:
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/events/271?apikey=<PUBLIC_KEY>&hash=a304d29c7e65217654f6ddd18daf2b3c&ts=1392317244
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 16faf91cde15e33d8ea4b11003ad6ab2ea9d93a5
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\"code\":200,\"status\":\"Ok\",\"etag\":\"16faf91cde15e33d8ea4b11003ad6ab2ea9d93a5\",\"data\":{\"offset\":0,\"limit\":20,\"total\":1,\"count\":1,\"results\":[{\"id\":271,\"title\":\"Secret
        Wars II\",\"description\":\"The omnipotent Beyonder comes to Earth to better
        understand the concept of desire as the heroes assemble to combat the threat
        he poses.\",\"resourceURI\":\"http://gateway.marvel.com/v1/public/events/271\",\"urls\":[{\"type\":\"detail\",\"url\":\"http://marvel.com/comics/events/271/secret_wars_ii?utm_campaign=apiRef&utm_source=<PUBLIC_KEY>\"},{\"type\":\"wiki\",\"url\":\"http://marvel.com/universe/Secret_Wars_II?utm_campaign=apiRef&utm_source=<PUBLIC_KEY>\"}],\"modified\":\"2013-10-18T12:40:47-0400\",\"start\":\"1985-07-10
        00:00:00\",\"end\":\"2009-05-13 00:00:00\",\"thumbnail\":{\"path\":\"http://i.annihil.us/u/prod/marvel/i/mg/f/60/51cdec7c4d64d\",\"extension\":\"jpg\"},\"creators\":{\"available\":91,\"collectionURI\":\"http://gateway.marvel.com/v1/public/events/271/creators\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/1865\",\"name\":\"Diana
        Albers\",\"role\":\"letterer\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/3632\",\"name\":\"Lois
        Buhalis\",\"role\":\"letterer\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/1887\",\"name\":\"Janice
        Chiang\",\"role\":\"letterer\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/2047\",\"name\":\"Craig
        Anderson\",\"role\":\"editor\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/1394\",\"name\":\"Bob
        Budians[...]
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/events/271/stories?apikey=<PUBLIC_KEY>&hash=a304d29c7e65217654f6ddd18daf2b3c&ts=1392317244
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - eb8d55d243ec8cd26c57edcbe9c1c4cc2066b797
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\"code\":200,\"status\":\"Ok\",\"etag\":\"eb8d55d243ec8cd26c57edcbe9c1c4cc2066b797\",\"data\":{\"offset\":0,\"limit\":20,\"total\":79,\"count\":20,\"results\":[{\"id\":12838,\"title\":\"Inwards
        to Infinity!\",\"description\":\"\",\"resourceURI\":\"http://gateway.marvel.com/v1/public/stories/12838\",\"type\":\"cover\",\"modified\":\"1969-12-31T19:00:00-0500\",\"thumbnail\":null,\"creators\":{\"available\":2,\"collectionURI\":\"http://gateway.marvel.com/v1/public/stories/12838/creators\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/1827\",\"name\":\"John
        Byrne\",\"role\":\"penciller (cover)\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/1317\",\"name\":\"Mike
        Carlin\",\"role\":\"editor\"}],\"returned\":2},\"characters\":{\"available\":5,\"collectionURI\":\"http://gateway.marvel.com/v1/public/stories/12838/characters\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/characters/1009299\",\"name\":\"Fantastic
        Four\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/characters/1009356\",\"name\":\"Human
        Torch\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/characters/1009366\",\"name\":\"Invisible
        Woman\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/characters/1009459\",\"name\":\"Mr.
        Fantastic\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/characters/1009583\",\"name\":\"She-Hulk
        (Jennifer Walters)\"}],\"returned\":5},\"series\":{\"available\":2,\"collectionURI\":{\"service\":\"comic_storySeries\",\"id\":12838},\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/series/2121\",\"name\":\"Fantastic
        Four (1961 - 1998)\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/series/1760\",\"name\":\"Fantastic
        Four Visionaries: John Byrne Vol. 6 (2006)\"}],\"returned\":2},\"comics\":{\"available\":2,\"collectionURI\":\"http://gateway.marvel.com/v1/public/stories/12838/comics\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/comics/13097\",\"name\":\"Fantastic
        Four (1961) #282\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/comics/5081\",\"name\":\"Fantastic
        Four Visionaries: John Byrne Vol. 6 (Trade Paperback)\"}],\"returned\":2},\"events\":{\"available\":1,\"collectionURI\":\"http://gateway.marvel.com/v1/public/stories/12838/events\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/events/271\",\"name\":\"Secret
        Wars II\"}],\"returned\":1},\"originalIssue\":{\"resourceURI\":\"http://gateway.marvel.com/v1/public/comics/13097\",\"name\":\"Fantastic
        Four (1961) #282\"}},{\"id\":12839,\"title\":\"Towards Infinity!\",\"description\":\"The
        FF pursue Psycho-Man into the Microverse.\",\"resourceURI\":\"http://gateway.marvel.com/v1/public/stories/12839\",\"type\":\"story\",\"modified\":\"1969-12-31T19:00:00-0500\",\"thumbnail\":null,\"creators\":{\"available\":5,\"collectionURI\":\"http://gateway.marvel.com/v1/public/stories/12839/creators\"[...]
