---
http_interactions:
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/comics/6669/events?apikey=<PUBLIC_KEY>&hash=f8366b9e8b1ae6c7ed29d87062efffef&ts=1391894400
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 16faf91cde15e33d8ea4b11003ad6ab2ea9d93a5
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\"code\":200,\"status\":\"Ok\",\"etag\":\"16faf91cde15e33d8ea4b11003ad6ab2ea9d93a5\",\"data\":{\"offset\":0,\"limit\":20,\"total\":1,\"count\":1,\"results\":[{\"id\":271,\"title\":\"Secret
        Wars II\",\"description\":\"The omnipotent Beyonder comes to Earth to better
        understand the concept of desire as the heroes assemble to combat the threat
        he poses.\",\"resourceURI\":\"http://gateway.marvel.com/v1/public/events/271\",\"urls\":[{\"type\":\"detail\",\"url\":\"http://marvel.com/comics/events/271/secret_wars_ii?utm_campaign=apiRef&utm_source=<PUBLIC_KEY>\"},{\"type\":\"wiki\",\"url\":\"http://marvel.com/universe/Secret_Wars_II?utm_campaign=apiRef&utm_source=<PUBLIC_KEY>\"}],\"modified\":\"2013-10-18T12:40:47-0400\",\"start\":\"1985-07-10
        00:00:00\",\"end\":\"2009-05-13 00:00:00\",\"thumbnail\":{\"path\":\"http://i.annihil.us/u/prod/marvel/i/mg/f/60/51cdec7c4d64d\",\"extension\":\"jpg\"},\"creators\":{\"available\":91,\"collectionURI\":\"http://gateway.marvel.com/v1/public/events/271/creators\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/1865\",\"name\":\"Diana
        Albers\",\"role\":\"letterer\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/3632\",\"name\":\"Lois
        Buhalis\",\"role\":\"letterer\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/1887\",\"name\":\"Janice
        Chiang\",\"role\":\"letterer\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/2047\",\"name\":\"Craig
        Anderson\",\"role\":\"editor\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/1394\",\"name\":\"Bob
        Budians[...]
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/events/271?apikey=<PUBLIC_KEY>&hash=f8366b9e8b1ae6c7ed29d87062efffef&ts=1391894400
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 16faf91cde15e33d8ea4b11003ad6ab2ea9d93a5
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\"code\":200,\"status\":\"Ok\",\"etag\":\"16faf91c[...]
[...]
