---
http_interactions:
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/series/489/events?apikey=<PUBLIC_KEY>&hash=f8366b9e8b1ae6c7ed29d87062efffef&ts=1391894400
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 0773993d6ae2c5af918d7919ac09452994365b1e
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\"code\":200,\"status\":\"Ok\",\"etag\":\"0773993d6ae2c5af918d7919ac09452994365b1e\",\"data\":{\"offset\":0,\"limit\":20,\"total\":1,\"count\":1,\"results\":[{\"id\":32,\"title\":\"Kings
        of Pain\",\"description\":\"The terrorist organization A.I.M. seek to resurrect
        the powerful reality-altering mutant named Proteus, and it's up to the various
        X-teams and the New Warriors to stop them.\",\"resourceURI\":\"http://gateway.marvel.com/v1/public/events/32\",\"urls\":[{\"type\":\"detail\",\"url\":\"http://marvel.com/comics/events/32/kings_of_pain?utm_campaign=apiRef&utm_source=<PUBLIC_KEY>\"},{\"type\":\"wiki\",\"url\":\"http://marvel.com/universe/Kings_of_Pain?utm_campaign=apiRef&utm_source=<PUBLIC_KEY>\"}],\"modified\":\"2013-10-18T12:39:11-0400\",\"start\":\"1991-01-01
        00:00:00\",\"end\":\"1992-05-11 00:00:00\",\"thumbnail\":{\"path\":\"http://i.annihil.us/u/prod/marvel/i/mg/d/60/51c9e88b7fbd9\",\"extension\":\"jpg\"},\"creators\":{\"available\":25,\"collectionURI\":\"http://gateway.marvel.com/v1/public/events/32/creators\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/2077\",\"name\":\"Hilary
        Barta\",\"role\":\"inker\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/435\",\"name\":\"Al
        Milgrom\",\"role\":\"inker\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/1914\",\"name\":\"Dan
        Panosian\",\"role\":\"inker\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/939\",\"name\":\"Joe
        Rubinstein\",\"role\":\"inker\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/1279\",\"name\":\"Jon
        Bogdanove\",\"role\":\[...]
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/events/32?apikey=<PUBLIC_KEY>&hash=f8366b9e8b1ae6c7ed29d87062efffef&ts=1391894400
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 0773993d6ae2c5af918d7919ac09452994365b1e
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\"code\":200,\"status\":\"Ok\",\"etag\":\"0773993d6[...]
[...]
