---
http_interactions:
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/characters/1009367/stories?apikey=<PUBLIC_KEY>&hash=f8366b9e8b1ae6c7ed29d87062efffef&ts=1391894400
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - a295c33768e4a4d670c9512aa4adb53126e3d621
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\"code\":200,\"status\":\"Ok\",\"etag\":\"a295c33768e4a4d670c9512aa4adb53126e3d621\",\"data\":{\"offset\":0,\"limit\":20,\"total\":129,\"count\":20,\"results\":[{\"id\":5872,\"title\":\"1
        of 7 - 7XLS\",\"description\":\"\",\"resourceURI\":\"http://gateway.marvel.com/v1/public/stories/5872\",\"type\":\"cover\",\"modified\":\"2012-03-30T09:23:14-0400\",\"thumbnail\":null,\"creators\":{\"available\":1,\"collectionURI\":\"http://gateway.marvel.com/v1/public/stories/5872/creators\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/9484\",\"name\":\"Steve
        McNiven\",\"role\":\"penciller (cover)\"}],\"returned\":1},\"characters\":{\"available\":21,\"collectionURI\":\"http://gateway.marvel.com/v1/public/stories/5872/characters\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/characters/1009220\",\"name\":\"Captain
        America\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/characters/1009241\",\"name\":\"Cloak\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/characters/1009258\",\"name\":\"Dagger\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/characters/1009262\",\"name[...]
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/stories/5872?apikey=<PUBLIC_KEY>&hash=f8366b9e8b1ae6c7ed29d87062efffef&ts=1391894400
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - b82b02b230b9e3c7999e4432ff6ada997cbda5ae
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\"code\":200,\"status\":\"Ok\",\"etag\":\"b82b02[...]
[...]
