---
http_interactions:
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/series/9981/stories?apikey=<PUBLIC_KEY>&hash=f8366b9e8b1ae6c7ed29d87062efffef&ts=1391894400
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 21f467fa55cd6b967231d41d12f46de98b3ec6e7
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\"code\":200,\"status\":\"Ok\",\"etag\":\"21f467fa55cd6b967231d41d12f46de98b3ec6e7\",\"data\":{\"offset\":0,\"limit\":20,\"total\":6,\"count\":6,\"results\":[{\"id\":74310,\"title\":\"Cover
        #74310\",\"description\":\"\",\"resourceURI\":\"http://gateway.marvel.com/v1/public/stories/74310\",\"type\":\"cover\",\"modified\":\"1969-12-31T19:00:00-0500\",\"thumbnail\":null,\"creators\":{\"available\":1,\"collectionURI\":\"http://gateway.marvel.com/v1/public/stories/74310/creators\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/10288\",\"name\":\"Marko
        Djurdjevic\",\"role\":\"penciller\"}],\"returned\":1},\"characters\":{\"available\":1,\"collectionURI\":\"http://gateway.marvel.com/v1/public/stories/74310/characters\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/characters/1009415\",\"name\":\"Magik
        (Illyana Rasputin)\"}],\"returned\":1},\"series\":{\"available\":1,\"collectionURI\":{\"service\":\"comic_storySeries\",\"id\":74310},\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/series/9981\",\"name\":\"X-Men:
        Hellbound (2010)\"}],\"returned\":1},\"comics\":{\"available\":1,\"collectionURI\":\"http://gateway.marvel.com/v1/public/stories/74310/comics\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/comics/32987\",\"name\":\"X-Men:
        Hellbound (2010) #1\"}],\"returned\":1},\"events\":{\"available\":1,\"collectionURI\":\"http://gateway.marvel.com/v1/public/stories/74310/events\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/events/279\",\"name\":\"X-Men:
        Second Coming\"}],\"returned\":1},\"originalIssue\":{\"resourceURI\":\"http://gateway.marvel.com/v1/public/comics/32987\",\"name\":\"X-Men:
        Hellbound (2010) #1\"}},{\"id\":74311,\"title\":\"Interior #74311\",\"description\":\"\",\"resourceURI\":\"http://gateway.marvel.com/v1/public/stories/74311\",\"type\":\"story\",\"modified\":\"1969-12-31T19:00:00-0500\",\"thumbnail\":null,\"creators\":{\"available\":2,\"collectionURI\":\"http://gateway.marvel.com/v1/public/stories/74311/creators\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.co[...]
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/stories/74319?apikey=<PUBLIC_KEY>&hash=f8366b9e8b1ae6c7ed29d87062efffef&ts=1391894400
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 2136f930742655088453f97a473f7b1c680b9761
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\"code\":200,\"status\":\"Ok\",\"etag\":\"2136f[...]
[...]
