---
http_interactions:
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/events/314?apikey=<PUBLIC_KEY>&hash=f8366b9e8b1ae6c7ed29d87062efffef&ts=1391894400
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 82dd62cac1b41eb6ea907d899290520e6ab55eaf
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\"code\":200,\"status\":\"Ok\",\"etag\":\"82dd62cac1b41eb6ea907d899290520e6ab55eaf\",\"data\":{\"offset\":0,\"limit\":20,\"total\":1,\"count\":1,\"results\":[{\"id\":314,\"title\":\"Age
        of Ultron\",\"description\":\"In a 10-issue event written by Brian Michael
        Bendis with art by Bryan Hitch, Carlos Pacheco, Brandon Peterson and more,
        the heroes of the Marvel Universe have already fallen with the robot Ultron
        remaking the world in his image. The surviving Avengers, X-Men and others
        must fight through time and space in the hope of defeating their foe by any
        means necessary!\",\"resourceURI\":\"http://gateway.marvel.com/v1/public/events/314\",\"urls\":[{\"type\":\"detail\",\"url\":\"http://marvel.com/comics/events/314/age_of_ultron?utm_campaign=apiRef&utm_source=<PUBLIC_KEY>\"},{\"type\":\"wiki\",\"url\":\"http://marvel.com/universe/Age_of_Ultron?utm_campaign=apiRef&utm_source=<PUBLIC_KEY>\"}],\"modified\":\"2013-06-25T17:47:28-0400\",\"start\":\"2013-03-06
        00:00:00\",\"end\":\"2013-06-19 00:00:00\",\"thumbnail\":{\"path\":\"http://i.annihil.us/u/prod/marvel/i/mg/c/10/51ca0fc4c83c8\",\"extension\":\"jpg\"},\"creators\":{\"available\":27,\"collectionURI\":\"http://gateway.marvel.com/v1/public/events/314/creators\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/4994\",\"name\":\"Kalman
        Andrasofszky\",\"role\":\"penciler (cover)\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/11748\",\"name\":\"Marco
        Checchetto\",\"role\":\"penciler (cover)\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/12277\",\"name\":\"Jimmy
        Cheung\",\"role\":\"penciler (cover)\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/12297\",\"name\":\"Andre
        Lima Araujo\",\"role\":\"penciller\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/8[...]
