---
http_interactions:
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/series/15280?apikey=<PUBLIC_KEY>&hash=f8366b9e8b1ae6c7ed29d87062efffef&ts=1391894400
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - faca823d760903b5b0d6ae0f5a8db0bb4949c37c
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\"code\":200,\"status\":\"Ok\",\"etag\":\"faca823d760903b5b0d6ae0f5a8db0bb4949c37c\",\"data\":{\"offset\":0,\"limit\":20,\"total\":1,\"count\":1,\"results\":[{\"id\":15280,\"title\":\"Amazing
        Fantasy 15: Spider-Man! (2011 - 2012)\",\"description\":null,\"resourceURI\":\"http://gateway.marvel.com/v1/public/series/15280\",\"urls\":[{\"type\":\"detail\",\"url\":\"http://marvel.com/comics/series/15280/amazing_fantasy_15_spider-man_2011_-_2012?utm_campaign=apiRef&utm_source=<PUBLIC_KEY>\"}],\"startYear\":2011,\"endYear\":2012,\"rating\":\"\",\"type\":\"\",\"modified\":\"2012-06-27T16:28:11-0400\",\"thumbnail\":{\"path\":\"http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available\",\"extension\":\"jpg\"},\"creators\":{\"available\":4,\"collectionURI\":\"http://gateway.marvel.com/v1/public/series/15280/creators\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/32\",\"name\":\"Steve
        Ditko\",\"role\":\"penciller (cover)\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/196\",\"name\":\"Jack
        Kirby\",\"role\":\"penciller (cover)\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/442\",\"name\":\"Dean
        White\",\"role\":\"penciller (cover)\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/30\",\"name\":\"Stan
        Lee\",\"role\":\"writer\"}],\"returned\":4},\"characters\":{\"available\":0,\"collectionURI\":\"http://gateway.marvel.com/v1/public/series/15280/characters\",\"items\":[],\"returned\":0},\"stories\":{\"available\":2,\"collectionURI\":\"http://gateway.marvel.com/v1/public/series/15280/stories\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/stories/93132\",\"name\":\"Cover
        #93132\",\"type\":\"cover\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/stories/93133\",\"name\":\"Interior
        #93133\",\"type\":\"interiorStory\"}],\"returned\":2},\"comics\":{\"available\":1,\"collectionURI\":\"http://gateway.marvel.com/v1/public/series/15280/comics\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/comics/41139\",\"name\":\"Amazing
        Fantasy 15: Spider-Man! (2011) #1\"}],\"returned\":1},\"events\":{\"available\":0,\"collectionURI\":\"http://gateway.marvel.com/v1/public/series/15280/events\",\"items\":[],\"returned\":0},\"next\":null,\"previous\":null}]}}"
  recorded_at: Sat, 08 Feb 2014 21:20:00 GMT
recorded_with: VCR 2.8.0
