---
http_interactions:
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/series/3688/comics?apikey=<PUBLIC_KEY>&hash=f8366b9e8b1ae6c7ed29d87062efffef&ts=1391894400
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - c747b46e3574937967985d9ce5285016589043ee
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\"code\":200,\"status\":\"Ok\",\"etag\":\"c747b46e3574937967985d9ce5285016589043ee\",\"data\":{\"offset\":0,\"limit\":20,\"total\":4,\"count\":4,\"results\":[{\"id\":18829,\"digitalId\":6945,\"title\":\"Spider-Man
        & Wolverine (2003) #3\",\"issueNumber\":3,\"variantDescription\":\"\",\"description\":null,\"modified\":\"-0001-11-30T00:00:00-0500\",\"isbn\":\"\",\"upc\":\"\",\"diamondCode\":\"\",\"ean\":\"\",\"issn\":\"\",\"format\":\"Comic\",\"pageCount\":0,\"textObjects\":[],\"resourceURI\":\"http://gateway.marvel.com/v1/public/comics/18829\",\"urls\":[{\"type\":\"detail\",\"url\":\"http://marvel.com/comics/issue/18829/spider-man_wolverine_2003_3?utm_campaign=apiRef&utm_source=<PUBLIC_KEY>\"},{\"type\":\"reader\",\"url\":\"http://marvel.com/digitalcomics/view.htm?iid=6945&utm_campaign=apiRef&utm_source=<PUBLIC_KEY>\"}],\"series\":{\"resourceURI\":\"http://gateway.marvel.com/v1/public/series/3688\",\"name\":\"Spider-Man
        & Wolverine (2003)\"},\"variants\":[],\"collections\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/comics/1207\",\"name\":\"Spider-Man
        Legends Vol. IV: Spider-Man & Wolverine (Trade Paperback)\"}],\"collectedIssues\":[],\"dates\":[{\"type\":\"onsaleDate\",\"date\":\"2003-10-10T00:00:00-0400\"},{\"type\":\"focDate\",\"date\":\"-0001-11-30T00:00:00-0500\"},{\"type\":\"unlimitedDate\",\"date\":\"2008-02-18T00:00:00-0500\"}],\"prices\":[{\"type\":\"printPrice\",\"price\":0}],\"thumbnail\":{\"path\":\"http://i.annihil.us/u/prod/marvel/i/mg/c/20/4bb8468c0ddc1\",\"extension\":\"jpg\"},\"images\":[{\"path\":\"http://i.annihil.us/u/prod/marvel/i/mg/c/20/4bb8468c0ddc1\",\"extension\":\"jpg\"}],\"creators\":{\"available\":6,\"collectionURI\":\"http://gateway.marvel.com/v1/public/comics/18829/creators\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/4300\",\"name\":\"Nick
        Lowe\",\"role\":\"editor\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/3635\",\"name\":\"Joe
        Quesada\",\"role\":\"editor\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/6301\",\"name\":\"Brett
        Matthews\",\"role\":\"writer\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/6299\",\"name\":\"Vatche
        Mavlian\",\"role\":\"penciler\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/479\",\"name\":\"Paul
        Mounts\",\"role\":\"colorist\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/creators/361\",\"name\":\"Cory
        Petit\",\"role\":\"letterer\"}],\"returned\":6},\"characters\":{\"available\":4,\"collectionURI\":\"http://gateway.marvel.com/v1/public/comics/18829/characters\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/characters/1009368\",\"name\":\"Iron
        Man\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/characters/1009471\",\"name\":\"Nick
        Fury\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/characters/1009610\",\"name\":\"Spider-Man\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/characters/1009718\",\"name\":\"Wolverine\"}],\"returned\":4},\"stories\":{\"available\":2,\"collectionURI\":\"http://gateway.marvel.com/v1/public/comics/18829/stories\",\"items\":[{\"resourceURI\":\"http://gateway.marvel.com/v1/public/stories/40345\",\"name\":\"Cover
        #40345\",\"type\":\"cover\"},{\"resourceURI\":\"http://gateway.marvel.com/v1/public/stories/40346\",\"name\":\"Interior
        #40346\",\"type\":\"interiorStory\"}],\"returned\":2},\"events\":{\"available\":0,\"collectionURI\":\"http://gateway.marvel.com/v1/public/comics/18829/events\",\"items\":[],\"returned\":0}},{\"id\":18827,\"digitalId\":6943,\"title\":\"Spider-Man
        & Wolverine (2003) #1\",\"issueNumber\":1,\"variantDescription\":\"\",\"description\":null,\"modified\":\"-0001-11-30T00:00:00-0500\",\"isbn\":\"\",\"upc\":\"\",\"diamondCode\":\"\",\"ean\":\"\",\"issn\":\"\",\"format\":\"Comic\",\"pageCount\":0,\"textObjects\":[],\"resourceURI\":\"http://gateway.marvel.com/v1[...]
- request:
    method: get
    uri: http://gateway.marvel.com/v1/public/comics/18830?apikey=<PUBLIC_KEY>&hash=f8366b9e8b1ae6c7ed29d87062efffef&ts=1391894400
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - 85da99d8df9e964571579cc4de56c30a9c36d5a8
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\"code\":200,\"status\":\"Ok\",\"etag\":\"85da99[...]
[...]
